nav {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0; /* Adjusted property */
    width: 100%;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right; /* Adjusted property */
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
  }
  
  nav ul li a:hover {
    background-color: #ccc;
  }
  
  .sec {
    height:50cm;
    width:fit-content;
  }

  